APP_NAME=2FAuth-yyqemo
APP_TIMEZONE=UTC
SITE_OWNER=@@MY_EMAIL@@
APP_KEY=@@MY_2FAUTH_APP_KEY@@
APP_URL=@@MY_ROOT_URL@@/2fa
APP_SUBDIRECTORY=2fa
MAIL_MAILER=smtp
MAIL_HOST=@@MY_MAIL_SERVER_DOMAIN@@
MAIL_PORT=465
MAIL_USERNAME=@@MY_2FAUTH_MAIL_USERNAME@@
MAIL_PASSWORD=@@MY_2FAUTH_MAIL_PASSWORD@@
MAIL_ENCRYPTION=ssl
MAIL_FROM_NAME=2FAuth-yyqemo
MAIL_FROM_ADDRESS=@@MY_2FAUTH_MAIL_USERNAME@@
TRUSTED_PROXIES=*
