APP_NAME=2FAuth-crupest
APP_TIMEZONE=UTC
SITE_OWNER=@@CRUPEST_EMAIL@@
APP_KEY=@@CRUPEST_2FAUTH_APP_KEY@@
APP_URL=@@CRUPEST_ROOT_URL@@/2fa
APP_SUBDIRECTORY=2fa
MAIL_MAILER=smtp
MAIL_HOST=@@CRUPEST_MAIL_SERVER_DOMAIN@@
MAIL_PORT=465
MAIL_USERNAME=@@CRUPEST_2FAUTH_MAIL_USERNAME@@
MAIL_PASSWORD=@@CRUPEST_2FAUTH_MAIL_PASSWORD@@
MAIL_ENCRYPTION=ssl
MAIL_FROM_NAME=2FAuth-crupest
MAIL_FROM_ADDRESS=@@CRUPEST_2FAUTH_MAIL_USERNAME@@
TRUSTED_PROXIES=*
