html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  transition: padding-top 1s;
}

#main-article {
  padding: 0 1em;
}

@media (min-width: 576px) {
  #main-article {
    padding: 0 2em;
  }
}

.slogan-container {
  width: 100%;
  position: fixed;
  top: 0;
}

.slogan {
  width: 100%;
  padding: 0.5em 1em;
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 1s;
}

.slogan.happy {
  background-color: dodgerblue;
}

.slogan.angry {
  background-color: orangered;
}

.slogan-container[data-slogan-emotion="happy"] .slogan.happy {
  transform: translateY(0);
}

.slogan-container[data-slogan-emotion="angry"] .slogan.angry {
  transform: translateY(0);
}

.slogan-text {
  display: inline-block;
  text-align: initial;
  color: white;
  font-size: 1.2em;
}

.friend-link {
  display: inline-block;
}

.friend-img {
  display: block;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.friend-name {
  display: block;
  text-align: center;
  font-size: 1.2em;
}