.todo {
  h3::before {
    font-family: monospace;
  }

  &.working h3::before {
    content: "* ";
  }

  &.done h3::before {
    content: "✓ ";
  }

  &.give-up  {
    &, a:link, a:visited {
      color: grey;
    }

    h3:before {
      content: "orz ✖ ";
    }
  }
}

