<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>life.crupest.secret-tool</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/crupest/.local/bin/Crupest.SecretTool</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/crupest/.local/state/Crupest.SecretTool/log</string>
    <key>StandardErrorPath</key>
    <string>/Users/crupest/.local/state/Crupest.SecretTool/error</string>
</dict>
</plist>
