MY_MAIL_SERVER_DOMAIN=mail.@@MY_DOMAIN@@
MY_ROOT_URL=https://@@MY_DOMAIN@@
MY_DOCKER_DIR=@@MY_SERVICES_DIR@@/docker
MY_SERVICES_STATE_DIR=@@MY_SERVICES_DIR@@/state
MY_DATA_SECRET_DIR=@@MY_DATA_DIR@@/secret
MY_DATA_CERTBOT_DIR=@@MY_DATA_DIR@@/certbot
MY_DATA_GIT_DIR=@@MY_DATA_DIR@@/git
MY_DATA_MAILSERVER_DIR=@@MY_DATA_DIR@@/dms
MY_DATA_ROUNDCUBE_DIR=@@MY_DATA_DIR@@/roundcube
MY_GENERATED_DIR=@@MY_SERVICES_DIR@@/generated
MY_GENERATED_NGINX_DIR=@@MY_GENERATED_DIR@@/nginx
