server {
    server_name 2fa.${CRUPEST_DOMAIN};
    include common/https-listen;
    
    location / {
        include common/proxy-common;
        proxy_pass http://2fauth:8000/;
    }
}

server {
    server_name 2fa.${CRUPEST_DOMAIN};
    include common/http-listen;

    include common/https-redirect;
    include common/acme-challenge;
}
