server {
    server_name mail.${CRUPEST_DOMAIN};
    include common/https-listen;
    
    location / {
        include common/proxy-common;
        proxy_pass http://roundcubemail:80/;
    }

    location /rspamd/ {
        include common/proxy-common;
        proxy_pass http://mailserver:11334/;
    }

    client_max_body_size 5G;
}


server {
    server_name mail.${CRUPEST_DOMAIN};
    include common/http-listen;

    include common/https-redirect;
    include common/acme-challenge;
}
