css=/git/static/cgit.css
logo=/git/static/cgit.png
root-title=crupest Git Repos

enable-http-clone=0
enable-commit-graph=1
enable-index-links=1
enable-index-owner=0
enable-log-filecount=1
enable-log-linecount=1
section-from-path=1

clone-url=@@CRUPEST_ROOT_URL@@$CGIT_REPO_URL
snapshots=tar.gz tar.bz2 zip
source-filter=/usr/lib/cgit/filters/syntax-highlighting.py
about-filter=/usr/lib/cgit/filters/about-formatting.sh
readme=:README.md
readme=:README

scan-path=/git/
