h3.todo {
  &::before {
    font-size: small;
  }

  &.working::before {
    content: "(working) ";
  }

  &.done::before {
    content: "(done) ";
  }

  &.give-up::before {
    content: "(give up) ";
  }
}
