:root {
  --im-happy: dodgerblue;
  --im-angry: orangered;
  --im-good: hsl(120, 85%, 85%);
  --im-active: hsl(20, 85%, 85%);
}

html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

a {
  font-family: monospace;
}

#main-article {
  max-width: 880px;
  margin-top: 1em;
  padding: 0 1em;
  align-self: center;
}

#title-name {
  font-family: monospace;
  background-color: black;
  color: white;
}

@keyframes content-enter {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes avatar-enter {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#main-article > * {
  animation: content-enter 0.8s;
}

#avatar {
  float: right;
  animation: avatar-enter 0.8s;
}

.slogan-container {
  width: 100vw;
  top: 0;
  position: fixed;
}

.slogan {
  width: 100%;
  padding: 0.5em 1em;
  text-align: center;
  box-sizing: border-box;
  color: white;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.8s;
}

.slogan.happy {
  background-color: var(--im-happy);
}

.slogan.angry {
  background-color: var(--im-angry);
}

body[data-emotion="happy"] .slogan.happy {
  transform: translateY(0);
}

body[data-emotion="angry"] .slogan.angry {
  transform: translateY(0);
}

.friend-link {
  display: inline-block;
  font-family: unset;
}

.friend-img {
  display: block;
  object-fit: cover;
}

.friend-name {
  display: block;
  text-align: center;
}

footer img {
  vertical-align: middle;
}
