server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name ${SUB_DOMAIN}.${ROOT_DOMAIN};

    ${DOMAIN_HTTPS_SEGMENT}
}

server {
    listen 80;
    listen [::]:80;
    server_name ${SUB_DOMAIN}.${ROOT_DOMAIN};

    ${DOMAIN_HTTP_SEGMENT}

    location /.well-known/acme-challenge {
        root /srv/acme;
    }
}
