{{ define "head"}}
  {{ partial "css.html" "res/css/single.css" }}
{{ end }}

{{ define "title" }}
  {{ .Title }}
{{ end }}

{{ define "content" }}
  {{ partial "nav.html" . }}
  <h1 class="post-title">{{ .Title }}</h1>
  <hr/>
  <p class="post-info">
    <span class="created">{{ partial "date.html" .Date }}</span> |
    <span class="words">{{ .WordCount }} words</span>
    {{ if ne .Lastmod .Date }}
      <span class="last-updated">Last updated: {{ partial "date.html" .Lastmod }}</span>
    {{ end}}
  </p>
  {{ .Content }}
{{ end }}

{{ define "footer" }}
  {{ partial "nav.html" . }}
{{ end }}